* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1e1e2f;
  background-color: #d94539;
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
}

.container,
.header,
.cal-resualt,
.cal-btn {
  display: flex;
  justify-content: center;
}

.container {
  flex-direction: column;
  align-items: center;
  min-width: 100vh;
  min-height: 30vh;
}

.header,
.cal-btn {
  margin: 3rem;
}

.header p {
  font-size: 5rem;
  font-weight: 700;
}

.cal-container {
  width: 80%;
}

#cal-input {
  font-size: 2rem;
  font-family: Vazirmatn, sans-serif;
  background-color: #cee0e9;
  color: #19447a;
  border: none;
  border-radius: 5rem;
  padding: 1rem;
  width: 100%;
}

#cal-btn {
  font-family: Vazirmatn, sans-serif;
  font-size: 2rem;
  padding: 1.5rem;
  border: none;
  border-radius: 5rem;
  background-color: #19447a;
  cursor: pointer;
}

.cal-resualt p {
  font-size: 2rem;
}
